#header{
  background-color: #ff4c68;

}

.header-row{
  height: 370px;
}

body{
  font-family: Montserrat;
  margin-bottom: 0;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.3;
  color: white;
  padding-bottom: 5%;
  font-weight: bold;

}
h2{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 3rem;
}

.iphone-img{
  margin: 20px 0 0 58px;
  width:60%;
  transform: rotate(30deg);
  position: relative;

}

.fab{
  margin-right: 7px;
}
.downlaod-btn{
  margin-right: 3%;
}


.container-fluid{
  padding: 3% 15%;
}

.navbar{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 80px;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.1rem;
  font-weight: bold;
}
 .nav-item{
   padding: 0 20px;
   font-size: 1.1rem;
   font-weight: normal;
 }

 #body-1{
   text-align: center;
   padding: 8% 150px;
   background-color: white;
   position: relative;
   z-index: 1;

 }

 #body-1 h3{
   font-family: Montserrat;
   font-weight: bold;
   font-size: 23px;
 }

 #body-1 p{
   font-family: Montserrat;
   font-size: 16px;
   font-weight: normal;
   color: #968c83;
   width: 82%;
   margin: 0 auto;
 }

 #body-1 i{
   line-height: 2;
   color: #fa7f72;
 }

 #body-1 i:hover{
   color:red;
 }

 #body-2 {
   text-align: center;
   background-color: #fa7f72;

   color: white;
 }

 .testimonial-image{
   width: 10%;
   border-radius: 100%;
   margin: 30px 0;
 }

 #body-3{
   text-align: center;
   background-color: #fa7f72;
   padding: 0 150px 4%;
   color: white;
 }
.carousel-item{
 padding: 8% 150px 0;
}
.carousel-item img{
  margin-right: 10px;
}
.logo-img{
  width:20%;
  padding: 10px 15px;
  margin-top: 50px;
}

#body-4{
text-align: center;
padding: 107.9px 150px 4%;
}

.body-4-desc p{
  font-size: 1.2rem;
}

.price-col{
  padding: 25px;
}

@media (max-width: 980px){
  .iphone-img{
    position:static;
    width: 40%;
    transform: rotate(0);
    margin-left: 0;
  }

  .header-row{
    height: 750px;
    text-align: center;
  }

  h1{
    font-size: 1.8rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h3{
    font-size: 15px;
  }
}

#footer{
  background-color: #fa7f72;
  text-align: center;
  padding: 3% 150px;
}

#footer h2{
  margin-bottom: 2.5%;
}

#footer button{
  margin-bottom: 3%;
}

 #last{
  text-align: center;
  background-color: white;
  padding: 3% 150px 0;
}

.last-icons{
  padding-bottom: 2%;
}

.lc{
  padding: 0 5px;
}
